<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780730220234-chapdespbb63p650gnkn4hihicn5mvv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780730220234-chapdespbb63p650gnkn4hihicn5mvv0</string>
	<key>API_KEY</key>
	<string>AIzaSyDJVJ195YMZbl4n8Vok5l8gQTLgnMPaV3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>780730220234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.managerr</string>
	<key>PROJECT_ID</key>
	<string>managerr-2737d</string>
	<key>STORAGE_BUCKET</key>
	<string>managerr-2737d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780730220234:ios:88afb0488721d033ac3e33</string>
</dict>
</plist>